extends layout

block content
  
  .info
    h1= title
    p= description
  
  .gallery
    each value in images
      img(src='https://fredrikburmester.com/static/images/' + link + '/' + value['filename'], alt="")