extends layout

block content
  nav#navbar
  
  .fullscreen#fullscreen

  .hamburger
    .line#line1
    .line#line2
    .line#line3

  .logos
    a(href="https://www.facebook.com/alltidifokus/")
      img(class="logo" src="/images/social-media-images/fb.png", alt="facebook")
    a(href="https://www.instagram.com/fredrikburmester")
      img(class="logo" src="/images/social-media-images/ig.png", alt="instagram")

  .menu#menu
    .menu-links

  .container
    .information
      a(href="/" id="title") FB
      h1(id="subtitle") photographer
      h1(id="album-name")= title 
      p(id="description")= description
    
    .gallery
      each value in images
        .gallery-image
          .gallery-image-container
            .gallery-image
              img(src='https://fredrikburmester.com/static/images/' + link + '/' + value['filename'], alt="")
    
    .lightbox#lightbox