extends layout

block content
  
  .info
    h1= title
    p= description
    P Hej
  
  .gallery
    each value in images
      .gallery-image
        img(src='https://fredrikburmester.com/static/images/' + link + '/' + value['filename'], alt="")