doctype html
html
  head
    title= "Fredrik Burmester | " + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/images/favicon/favicon-16x16.png", type="image/x-icon")
  body
    block content
